@using IctuTaekwondo.Shared.Enums
@model IctuTaekwondo.Shared.Schemas.Account.UserUpdateSchema

<div id="state-message" hx-swap-oob="true" class="col-span-1 lg:col-span-5">
	@if (!ViewData.ModelState.IsValid && ViewData.ModelState[string.Empty]?.Errors.Count > 0)
	{
		<div class="mb-4 flex rounded-lg bg-red-50 p-4 text-sm text-red-800 dark:bg-gray-800 dark:text-red-400" role="alert">
			<svg class="flex-shrink-0 me-3 mt-[2px] inline h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
				<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
			</svg>
			<div>
				<span class="font-medium">Có lỗi khi cập nhật hồ sơ người dùng:</span>
				<ul class="mt-1.5 list-inside list-disc">
					@foreach (var error in ViewData.ModelState[string.Empty]?.Errors!)
					{
						<li>@error.ErrorMessage</li>
					}
				</ul>
			</div>
		</div>
	}

	@if (TempData["SuccessMessage"] != null)
	{
		<div class="mb-4 flex items-center rounded-lg bg-green-50 p-4 text-sm text-green-800 dark:bg-gray-800 dark:text-green-400" role="alert">
			<svg class="shrink-0 me-3 inline h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
				<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
			</svg>
			<div class="font-medium">
				@TempData["SuccessMessage"]
			</div>
		</div>
	}
</div>

<form _="on htmx:beforeRequest set #update-user-btn.disabled to true end 
		 on htmx:afterRequest set #update-user-btn.disabled to false"
	  hx-put
	  hx-action="Update"
	  hx-route-id="@ViewData["Id"]"
	  hx-trigger="update-user from:body"
	  hx-swap="outerHTML"
	  hx-indicator="#update-form-indicator"
	  id="update-profile-form"
	  enctype="multipart/form-data"
	  class="col-span-1 lg:col-span-4">
	<div class="grid-cols-1 grid gap-4 sm:grid-cols-2">
		<div class="col-span-2">
			<div class="flex justify-center">
				<label id="Avatar_Label" asp-for="@Model.Avatar" class="flex size-32 items-center justify-center overflow-hidden rounded-lg border bg-gray-100 hover:cursor-pointer dark:bg-gray-600">
					@if (!string.IsNullOrEmpty(Model.AvatarUrl))
					{
						<img id="Avatar_Preview" src="@Model.AvatarUrl" alt="Avatar" class="h-full w-full object-cover" />
					}
					else
					{
						<svg id="Avatar_Icon" class="size-32 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
					}
				</label>
			</div>
			<input asp-for="@Model.Avatar" class="hidden" type="file">
			<input asp-for="@Model.AvatarUrl" class="hidden">
			<p class="mt-2 text-center text-sm text-red-600 dark:text-red-500">
				<span asp-validation-for="@Model.Avatar"></span>
			</p>
			<script>
				$("#Avatar").change(function (event) {
					var file = event.target.files[0];

					if (file) {
						var reader = new FileReader();
						reader.onload = function (e) {
							let $preview = $("#Avatar_Preview");
							let $icon = $("#Avatar_Icon");

							if ($preview.length === 0) {
								$preview = $("<img>", {
									id: "Avatar_Preview",
									class: "h-full w-full object-cover"
								});
								$("#Avatar_Label").append($preview);
							}

							$preview.attr("src", e.target.result);
							$icon.hide();
						};

						reader.readAsDataURL(file);
					}
				});
			</script>
		</div>

		<div class="col-span-2 space-y-2 sm:col-span-1">
			<label asp-for="@Model.FullName" class="block text-sm font-medium text-gray-900 dark:text-white"></label>
			<input placeholder="Ví dụ: Nguyễn Văn A" asp-for="@Model.FullName" value="@Model.FullName" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" />
			<p class="text-sm text-red-600 dark:text-red-500">
				<span asp-validation-for="@Model.FullName"></span>
			</p>
		</div>

		<div class="col-span-2 space-y-2 sm:col-span-1">
			<label asp-for="@Model.PhoneNumber" class="block text-sm font-medium text-gray-900 dark:text-white"></label>
			<input placeholder="Ví dụ: 0987654321" asp-for="@Model.PhoneNumber" value="@Model.PhoneNumber" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" />
			<p class="text-sm text-red-600 dark:text-red-500">
				<span asp-validation-for="@Model.PhoneNumber"></span>
			</p>
		</div>

		<div class="col-span-2 space-y-2 sm:col-span-1">
			<div class="flex items-center gap-2">
				<label asp-for="@Model.Gender" value="@Model.Gender" class="block text-sm font-medium text-gray-900 dark:text-white"></label>
			</div>
			<select asp-for="@Model.Gender" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
				<option value="" selected>Chọn giới tính</option>
				<option value="@Gender.Male">@Gender.Male.GetDisplayName()</option>
				<option value="@Gender.Female">@Gender.Female.GetDisplayName()</option>
			</select>
			<p class="text-sm text-red-600 dark:text-red-500">
				<span asp-validation-for="@Model.Gender"></span>
			</p>
		</div>

		<div class="col-span-2 space-y-2 sm:col-span-1">
			<div class="flex items-center gap-2">
				<label asp-for="@Model.CurrentRank" class="block text-sm font-medium text-gray-900 dark:text-white"></label>
			</div>
			<select asp-for="@Model.CurrentRank" value="@Model.CurrentRank" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
				@if (Model.CurrentRank == null)
				{
					<option value="" selected>Chọn cấp đai</option>
				}
				else
				{
					<option value="">Chọn cấp đai</option>
				}

				@foreach (RankName rank in Enum.GetValues(typeof(RankName)))
				{
					if (Model.CurrentRank != null && Model.CurrentRank.Equals(rank))
					{
						<option value="@rank" selected>@rank.GetDisplayName()</option>
					}
					else
					{
						<option value="@rank">@rank.GetDisplayName()</option>
					}
				}
			</select>
			<p class="text-sm text-red-600 dark:text-red-500">
				<span asp-validation-for="@Model.CurrentRank"></span>
			</p>
		</div>

		<div class="col-span-2 space-y-2 sm:col-span-1" data-datepicker-id="DateOfBirth">
			<label asp-for="@Model.DateOfBirth" class="block text-sm font-medium text-gray-900 dark:text-white"></label>
			<input placeholder="dd/mm/yyyy" type="text" asp-for="@Model.DateOfBirth" value="@Model.DateOfBirth" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" />
			<p class="text-sm text-red-600 dark:text-red-500">
				<span asp-validation-for="@Model.DateOfBirth"></span>
			</p>
			<script>
				(function () {
				  var $parent = document.currentScript.parentElement;
				  var id = $parent.getAttribute('data-datepicker-id');

				  initDatepicker(id);
				})()
			</script>
		</div>

		<div class="col-span-2 space-y-2 sm:col-span-1" data-datepicker-id="JoinDate">
			<label asp-for="@Model.JoinDate" class="block text-sm font-medium text-gray-900 dark:text-white"></label>
			<input placeholder="dd/mm/yyyy" type="text" asp-for="@Model.JoinDate" value="@Model.JoinDate" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" />
			<p class="text-sm text-red-600 dark:text-red-500">
				<span asp-validation-for="@Model.JoinDate"></span>
			</p>
			<script>
				(function () {
				  var $parent = document.currentScript.parentElement;
				  var id = $parent.getAttribute('data-datepicker-id');
				  var additionalOptions = {
					clearBtn: true,
					todayBtn: true,
					todayBtnMode: 1,
				  }

				  initDatepicker(id, additionalOptions);
				})()
			</script>
		</div>

		<div class="col-span-2 space-y-2">
			<label asp-for="@Model.Address" class="block text-sm font-medium text-gray-900 dark:text-white"></label>
			<textarea placeholder="Ví dụ: Hà Nội" asp-for="@Model.Address" value="@Model.Address" rows=" 2" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"></textarea>
			<p class="text-sm text-red-600 dark:text-red-500">
				<span asp-validation-for="@Model.Address"></span>
			</p>
		</div>
	</div>
</form>