@using IctuTaekwondo.Shared.Enums
@model IctuTaekwondo.Shared.Schemas.Account.UserUpdateSchema
@{
	ViewData["Title"] = "Thông tin người dùng";
	Layout = "_DashboardLayout";

	ArgumentNullException.ThrowIfNull(ViewData["Id"]);
}

<section class="bg-white py-4 antialiased dark:bg-gray-900">
	<div class="mx-auto max-w-screen-lg px-4">

		<!-- Breadcrumb -->
		<nav class="mb-4 flex" aria-label="Breadcrumb">
			<ol class="inline-flex items-center space-x-1 rtl:space-x-reverse md:space-x-2">
				<li class="inline-flex items-center">
					<a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:underline hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
						<svg class="me-2 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5" />
						</svg>
						Trang chủ
					</a>
				</li>
				<li>
					<div class="flex items-center">
						<svg class="mx-1 h-4 w-4 text-gray-400 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
						</svg>
						<a asp-controller="Users" asp-action="Index" class="ms-1 text-sm font-medium text-gray-700 hover:underline hover:text-primary-600 dark:text-gray-400 md:ms-2 dark:hover:text-white">
							Quản lý người dùng
						</a>
					</div>
				</li>
				<li aria-current="page">
					<div class="flex items-center">
						<svg class="mx-1 h-4 w-4 text-gray-400 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
						</svg>
						<span class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400 md:ms-2">@ViewData["Id"]</span>
					</div>
				</li>
			</ol>
		</nav>

		<h2 class="border-b border-gray-200 pb-4 text-xl font-semibold text-gray-900 dark:text-white dark:border-gray-700 sm:text-2xl">
			Thông tin người dùng
		</h2>

		<div class="grid-cols-1 grid gap-3 pt-6 md:grid-cols-5">
			@if (!ViewData.ModelState.IsValid && ViewData.ModelState[string.Empty]?.Errors.Count > 0)
			{
				<div class="mb-4 flex rounded-lg bg-red-50 p-4 text-sm text-red-800 dark:bg-gray-800 dark:text-red-400" role="alert">
					<svg class="flex-shrink-0 me-3 mt-[2px] inline h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
						<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
					</svg>
					<div>
						<span class="font-medium">Có lỗi khi cập nhật hồ sơ người dùng:</span>
						<ul class="mt-1.5 list-inside list-disc">
							@foreach (var error in ViewData.ModelState[string.Empty]?.Errors!)
							{
								<li>@error.ErrorMessage</li>
							}
						</ul>
					</div>
				</div>
			}

			@if (TempData["SuccessMessage"] != null)
			{
				<div class="mb-4 flex items-center rounded-lg bg-green-50 p-4 text-sm text-green-800 dark:bg-gray-800 dark:text-green-400" role="alert">
					<svg class="shrink-0 me-3 inline h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
						<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
					</svg>
					<div class="font-medium">
						@TempData["SuccessMessage"]
					</div>
				</div>
			}

			<form id="update-profile-form" method="post" enctype="multipart/form-data" class="col-span-1 md:col-span-4">
				<div class="grid-cols-1 mb-4 grid gap-4 sm:grid-cols-2">
					<div class="col-span-2">
						<div class="flex justify-center">
							<label id="Avatar_Label" asp-for="@Model.Avatar" class="flex size-32 items-center justify-center overflow-hidden rounded-lg border bg-gray-100 hover:cursor-pointer dark:bg-gray-600">
								@if (!string.IsNullOrEmpty(Model.AvatarUrl))
								{
									<img id="Avatar_Preview" src="@Model.AvatarUrl" alt="Avatar" class="h-full w-full object-cover" />
								}
								else
								{
									<svg id="Avatar_Icon" class="size-32 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
								}
							</label>
						</div>
						<input asp-for="@Model.Avatar" class="hidden" type="file">
						<input asp-for="@Model.AvatarUrl" class="hidden">
						<p class="mt-2 text-center text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.Avatar"></span>
						</p>
						<script>
							$("#Avatar").change(function (event) {
								var file = event.target.files[0];

								if (file) {
									var reader = new FileReader();
									reader.onload = function (e) {
										let $preview = $("#Avatar_Preview");
										let $icon = $("#Avatar_Icon");

										if ($preview.length === 0) {
											$preview = $("<img>", {
												id: "Avatar_Preview",
												class: "h-full w-full object-cover"
											});
											$("#Avatar_Label").append($preview);
										}

										$preview.attr("src", e.target.result);
										$icon.hide();
									};

									reader.readAsDataURL(file);
								}
							});
						</script>
					</div>

					<div class="col-span-2 sm:col-span-1">
						<label asp-for="@Model.FullName" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"></label>
						<input placeholder="Ví dụ: Nguyễn Văn A" asp-for="@Model.FullName" value="@Model.FullName" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" />
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.FullName"></span>
						</p>
					</div>

					<div class="col-span-2 sm:col-span-1">
						<label asp-for="@Model.PhoneNumber" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"></label>
						<input placeholder="Ví dụ: 0987654321" asp-for="@Model.PhoneNumber" value="@Model.PhoneNumber" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" />
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.PhoneNumber"></span>
						</p>
					</div>

					<div class="col-span-2 sm:col-span-1">
						<div class="mb-2 flex items-center gap-2">
							<label asp-for="@Model.Gender" value="@Model.Gender" class="block text-sm font-medium text-gray-900 dark:text-white"></label>
						</div>
						<select asp-for="@Model.Gender" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
							<option value="" selected>Chọn giới tính</option>
							<option value="@Gender.Male">@Gender.Male.GetDisplayName()</option>
							<option value="@Gender.Female">@Gender.Female.GetDisplayName()</option>
						</select>
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.Gender"></span>
						</p>
					</div>

					<div class="col-span-2 sm:col-span-1">
						<div class="mb-2 flex items-center gap-2">
							<label asp-for="@Model.CurrentRank" class="block text-sm font-medium text-gray-900 dark:text-white"></label>
						</div>
						<select asp-for="@Model.CurrentRank" value="@Model.CurrentRank" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
							@if (Model.CurrentRank == null)
							{
								<option value="" selected>Chọn cấp đai</option>
							}
							else
							{
								<option value="">Chọn cấp đai</option>
							}

							@foreach (RankName rank in Enum.GetValues(typeof(RankName)))
							{
								if (Model.CurrentRank != null && Model.CurrentRank.Equals(rank))
								{
									<option value="@rank" selected>@rank.GetDisplayName()</option>
								}
								else
								{
									<option value="@rank">@rank.GetDisplayName()</option>
								}
							}
						</select>
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.CurrentRank"></span>
						</p>
					</div>

					<div class="col-span-2 sm:col-span-1" data-datepicker-id="DateOfBirth">
						<label asp-for="@Model.DateOfBirth" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"></label>
						<input placeholder="dd/mm/yyyy" type="text" asp-for="@Model.DateOfBirth" value="@Model.DateOfBirth" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" />
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.DateOfBirth"></span>
						</p>
						<script>
							(function () {
							  var $parent = document.currentScript.parentElement;
							  var id = $parent.getAttribute('data-datepicker-id');

							  initDatepicker(id);
							})()
						</script>
					</div>

					<div class="col-span-2 sm:col-span-1" data-datepicker-id="JoinDate">
						<label asp-for="@Model.JoinDate" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"></label>
						<input placeholder="dd/mm/yyyy" type="text" asp-for="@Model.JoinDate" value="@Model.JoinDate" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" />
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.JoinDate"></span>
						</p>
						<script>
							(function () {
							  var $parent = document.currentScript.parentElement;
							  var id = $parent.getAttribute('data-datepicker-id');
							  var additionalOptions = {
								clearBtn: true,
								todayBtn: true,
								todayBtnMode: 1,
							  }

							  initDatepicker(id, additionalOptions);
							})()
						</script>
					</div>

					<div class="col-span-2">
						<label asp-for="@Model.Address" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"></label>
						<textarea placeholder="Ví dụ: Hà Nội" asp-for="@Model.Address" value="@Model.Address" rows=" 2" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"></textarea>
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.Address"></span>
						</p>
					</div>
				</div>
				<div class="flex items-center gap-2">
					<button type="submit" class="inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
						Lưu
					</button>
					<button _="on htmx:beforeRequest set me.disabled to true end on htmx:afterRequest set me.disabled to false"
							hx-delete
							hx-action="Delete"
							hx-route-id="@ViewData["Id"]"
							hx-route-next="/Users"
							hx-target="#toast-list"
							hx-swap="beforeend"
							class="inline-flex items-center rounded-lg bg-red-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 disabled:cursor-not-allowed disabled:bg-red-500">
						<svg aria-hidden="true" role="status" class="hx-btn-indicator me-3 h-4 w-4 animate-spin text-white" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB" />
							<path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor" />
						</svg>
						Xoá
					</button>
				</div>
			</form>

			<div class="col-span-1">
				<div class="flex gap-2 gap-x-2 gap-y-4 md:flex-col">
					<button _="on htmx:beforeRequest set me.disabled to true end on htmx:afterRequest set me.disabled to false"
							hx-put
							hx-action="UpdateTest"
							hx-route-id="@ViewData["Id"]"
							hx-target="#toast-list"
							hx-swap="beforeend"
							type="submit"
							class="inline-flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
						<svg aria-hidden="true" role="status" class="hx-btn-indicator me-3 h-4 w-4 animate-spin text-white" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB" />
							<path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor" />
						</svg>
						Lưu thay đổi
					</button>
					<button _="on htmx:beforeRequest set me.disabled to true end on htmx:afterRequest set me.disabled to false"
							hx-delete
							hx-action="Delete"
							hx-route-id="@ViewData["Id"]"
							hx-route-next="/Users"
							hx-target="#toast-list"
							hx-swap="beforeend"
							class="inline-flex w-full items-center justify-center rounded-lg bg-red-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 disabled:cursor-not-allowed disabled:bg-red-500">
						<svg aria-hidden="true" role="status" class="hx-btn-indicator me-3 h-4 w-4 animate-spin text-white" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB" />
							<path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor" />
						</svg>
						Xoá người dùng
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
