@using IctuTaekwondo.Shared.Enums
@model IctuTaekwondo.Shared.Schemas.Account.UserUpdateSchema
@{
	ViewData["Title"] = "Hồ sơ cá nhân";
	Layout = "_DashboardLayout";
}

<section class="bg-white py-4 antialiased dark:bg-gray-900">
	<div class="mx-auto max-w-screen-lg px-4">

		<!-- Breadcrumb -->
		<nav class="mb-4 flex" aria-label="Breadcrumb">
			<ol class="inline-flex items-center space-x-1 rtl:space-x-reverse md:space-x-2">
				<li class="inline-flex items-center">
					<a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:underline hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
						<svg class="me-2 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5" />
						</svg>
						Trang chủ
					</a>
				</li>
				<li>
					<div class="flex items-center">
						<svg class="mx-1 h-4 w-4 text-gray-400 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
						</svg>
						<a asp-controller="Account" asp-action="Profile" class="ms-1 text-sm font-medium text-gray-700 hover:underline hover:text-primary-600 dark:text-gray-400 md:ms-2 dark:hover:text-white">
							Tài khoản
						</a>
					</div>
				</li>
				<li aria-current="page">
					<div class="flex items-center">
						<svg class="mx-1 h-4 w-4 text-gray-400 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
						</svg>
						<span class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400 md:ms-2">Cập nhật hồ sơ</span>
					</div>
				</li>
			</ol>
		</nav>

		<h2 class="border-b border-gray-200 pb-4 text-xl font-semibold text-gray-900 dark:text-white dark:border-gray-700 sm:text-2xl">
			Cập nhật hồ sơ
		</h2>

		<div class="py-6">
			@if (!ViewData.ModelState.IsValid && ViewData.ModelState[string.Empty]?.Errors.Count > 0)
			{
				<div class="mb-4 flex rounded-lg bg-red-50 p-4 text-sm text-red-800 dark:bg-gray-800 dark:text-red-400" role="alert">
					<svg class="flex-shrink-0 me-3 mt-[2px] inline h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
						<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
					</svg>
					<div>
						<span class="font-medium">Có lỗi xảy ra khi cập nhật hồ sơ:</span>
						<ul class="mt-1.5 list-inside list-disc">
							@foreach (var error in ViewData.ModelState[string.Empty]?.Errors!)
							{
								<li>@error.ErrorMessage</li>
							}
						</ul>
					</div>
				</div>
			}

			@if (TempData["SuccessMessage"] != null)
			{
				<div class="mb-4 flex items-center rounded-lg bg-green-50 p-4 text-sm text-green-800 dark:bg-gray-800 dark:text-green-400" role="alert">
					<svg class="shrink-0 me-3 inline h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
						<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
					</svg>
					<div class="font-medium">
						@TempData["SuccessMessage"]
					</div>
				</div>
			}

			<form id="update-profile-form" asp-action="UpdateProfile" method="post" class="max-w-lg">
				<div class="grid-cols-1 mb-5 grid gap-4 sm:grid-cols-2">
					@* <div class="col-span-2"> *@
					@* 	<div class="flex justify-center"> *@
					@* 		<label asp-for="@Model.AvatarUrl" class="flex size-24 items-center justify-center overflow-hidden rounded-lg bg-gray-100 hover:cursor-pointer dark:bg-gray-600"> *@
					@* 			@if (Model.AvatarUrl != null && Model.AvatarUrl != string.Empty) *@
					@* 			{ *@
					@* 				<img src="@Model.AvatarUrl" alt="Avatar" class="h-full w-full object-cover" /> *@
					@* 			} *@
					@* 			else *@
					@* 			{ *@
					@* 				<svg class="size-24 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg> *@
					@* 			} *@
					@* 		</label> *@
					@* 	</div> *@
					@* 	<input asp-for="@Model.AvatarUrl" class="hidden" type="file"> *@
					@* 	<p class="mt-2 text-sm text-red-600 dark:text-red-500"> *@
					@* 		<span asp-validation-for="@Model.AvatarUrl"></span> *@
					@* 	</p> *@
					@* </div> *@

					<div class="col-span-2">
						<label asp-for="@Model.FullName" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"></label>
						<input asp-for="@Model.FullName" value="@Model.FullName" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" />
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.FullName"></span>
						</p>
					</div>

					<div class="col-span-2">
						<label asp-for="@Model.PhoneNumber" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"></label>
						<input asp-for="@Model.PhoneNumber" value="@Model.PhoneNumber" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" />
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.PhoneNumber"></span>
						</p>
					</div>

					<div class="col-span-2 sm:col-span-1">
						<div class="mb-2 flex items-center gap-2">
							<label asp-for="@Model.Gender" value="@Model.Gender" class="block text-sm font-medium text-gray-900 dark:text-white"></label>
						</div>
						<select asp-for="@Model.Gender" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
							<option value="" selected>Chọn giới tính</option>
							<option value="@Gender.Male">@Gender.Male.GetDisplayName()</option>
							<option value="@Gender.Female">@Gender.Female.GetDisplayName()</option>
						</select>
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.Gender"></span>
						</p>
					</div>

					<div class="col-span-2 sm:col-span-1">
						<div class="mb-2 flex items-center gap-2">
							<label asp-for="@Model.CurrentRank" class="block text-sm font-medium text-gray-900 dark:text-white"></label>
						</div>
						<select asp-for="@Model.CurrentRank" value="@Model.CurrentRank" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
							<option value="" selected>Chọn cấp đai</option>
							<option value="@RankName.WhiteBelt">@RankName.WhiteBelt.GetDisplayName()</option>
							<option value="@RankName.YellowBelt">@RankName.YellowBelt.GetDisplayName()</option>
							<option value="@RankName.BlueBelt">@RankName.BlueBelt.GetDisplayName()</option>
							<option value="@RankName.RedBelt">@RankName.RedBelt.GetDisplayName()</option>
							<option value="@RankName.BlackBelt">@RankName.BlackBelt.GetDisplayName()</option>
						</select>
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.CurrentRank"></span>
						</p>
					</div>

					<div class="col-span-2" data-datepicker-id="DateOfBirth">
						<label asp-for="@Model.DateOfBirth" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"></label>
						<input type="text" asp-for="@Model.DateOfBirth" value="@Model.DateOfBirth" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" />
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.DateOfBirth"></span>
						</p>
						<script>
							(function () {
							  var $parent = document.currentScript.parentElement;
							  var id = $parent.getAttribute('data-datepicker-id');

							  initDatepicker(id);
							})()
						</script>
					</div>

					<div class="col-span-2">
						<label asp-for="@Model.Address" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"></label>
						<textarea asp-for="@Model.Address" value="@Model.Address" rows=" 2" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"></textarea>
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.Address"></span>
						</p>
					</div>

					<div class="col-span-2" data-datepicker-id="JoinDate">
						<label asp-for="@Model.JoinDate" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"></label>
						<input type="text" asp-for="@Model.JoinDate" value="@Model.JoinDate" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" />
						<p class="mt-2 text-sm text-red-600 dark:text-red-500">
							<span asp-validation-for="@Model.JoinDate"></span>
						</p>
						<script>
							(function () {
							  var $parent = document.currentScript.parentElement;
							  var id = $parent.getAttribute('data-datepicker-id');
							  var additionalOptions = {
								clearBtn: true,
								todayBtn: true,
								todayBtnMode: 1,
							  }

							  initDatepicker(id, additionalOptions);
							})()
						</script>
					</div>
				</div>
				<div>
					<button id="submit-update-profile-form-btn" type="submit" class="me-2 inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
						Lưu
					</button>
					<a asp-controller="Account" asp-action="Profile" class="me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">
						Huỷ
					</a>
				</div>
			</form>
		</div>
	</div>
</section>
